name: Build Production and Deploy to Cloudflare Pages

on:
    push:
      tags:
      - production_v*

concurrency:
    group: cloudflare-pages-build-production
    cancel-in-progress: true

permissions:
    contents: read

jobs:
    build_to_cloudflare_pages:
        timeout-minutes: 30
        runs-on: ubuntu-latest
        environment: Production
        env: 
          VERSION: ${{ github.ref_name }}
        steps:
            - name: Checkout to main branch
              uses: actions/checkout@v4

            - name: Setup pnpm
              uses: pnpm/action-setup@v2
              with:
                version: 8
                run_install: false 

            - name: Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: 20.x
                  cache: 'pnpm'

            - name: Install dependencies
              run: pnpm install

            - name: Debug TypeScript version
              run: pnpm exec tsc --version

            - name: Build
              run: pnpm run build && pnpm run postbuild
              env:
                NEXT_PUBLIC_BASE_URL: ${{ vars.NEXT_PUBLIC_BASE_URL }}
                NEXT_PUBLIC_CORE_URL: ${{ vars.NEXT_PUBLIC_CORE_URL }}
                NEXT_PUBLIC_SOCKET_URL: ${{ vars.NEXT_PUBLIC_SOCKET_URL }}
                NEXT_PUBLIC_CASHIER_URL: ${{ vars.NEXT_PUBLIC_CASHIER_URL }}
                NEXT_PUBLIC_DATA_SOURCE: ${{ vars.NEXT_PUBLIC_DATA_SOURCE }}
                NEXT_PUBLIC_DATADOG_APPLICATION_ID: ${{ vars.NEXT_PUBLIC_DATADOG_APPLICATION_ID }}
                NEXT_PUBLIC_DATADOG_CLIENT_TOKEN: ${{ vars.NEXT_PUBLIC_DATADOG_CLIENT_TOKEN }}
                NEXT_PUBLIC_DATADOG_ENV: ${{ vars.NEXT_PUBLIC_DATADOG_ENV }}
                NEXT_PUBLIC_DATADOG_SERVICE: ${{ vars.NEXT_PUBLIC_DATADOG_SERVICE }}
                NEXT_PUBLIC_DATADOG_SESSION_REPLAY_SAMPLE_RATE: ${{ vars.NEXT_PUBLIC_DATADOG_SESSION_REPLAY_SAMPLE_RATE }}
                NEXT_PUBLIC_DATADOG_SESSION_SAMPLE_RATE: ${{ vars.NEXT_PUBLIC_DATADOG_SESSION_SAMPLE_RATE }}
                NEXT_PUBLIC_DATADOG_VERSION: ${{ vars.NEXT_PUBLIC_DATADOG_VERSION }}
                NEXT_PUBLIC_BRANCH: ${{ vars.NEXT_PUBLIC_BRANCH }}
                NEXT_PUBLIC_NOTIFICATION_APPLICATION_ID: ${{ vars.NEXT_PUBLIC_NOTIFICATION_APPLICATION_ID }}
                NEXT_PUBLIC_NOTIFICATION_URL: ${{ vars.NEXT_PUBLIC_NOTIFICATION_URL }}
                NEXT_PUBLIC_IS_ORY_ENABLED: ${{ vars.NEXT_PUBLIC_IS_ORY_ENABLED }}
                NEXT_PUBLIC_ORY_URL: ${{ vars.NEXT_PUBLIC_ORY_URL }}
                NEXT_PUBLIC_FLOATING_RATE_ENABLED: ${{ vars.NEXT_PUBLIC_FLOATING_RATE_ENABLED }}
                NEXT_PUBLIC_INTERCOM_APP_ID: ${{ vars.NEXT_PUBLIC_INTERCOM_APP_ID }}
                NEXT_PUBLIC_NODE_ENV: production
                NODE_ENV: production

            - name: Replace placeholders in wrangler.toml
              run: |
                sed -i "s/PROJECT_NAME/${{ secrets.CLOUDFLARE_PROJECT_NAME }}/g" wrangler.toml
              shell: bash

            - name: Run tests for Eslint
              run: npm run lint

            - name: Publish to Cloudflare Pages
              uses: "deriv-com/shared-actions/.github/actions/publish_to_pages_branch@master"
              id: publish_to_cloudflare
              with:
                CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
                CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
                project_name: ${{ secrets.CLOUDFLARE_PROJECT_NAME }}
                branch_name: master
                output_dir: .vercel/output/static
                directory: dist
                cname_url: dp2p.deriv.com
